@model TradeBot.ViewModels.LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="d-flex justify-content-center min-vh-100 align-items-center">
    <div class="col-5">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-block text-primary text-uppercase text-center mb-3 py-3">
                    <b>CHỢ BỘT - AAI MUA BỘT, THUÊ BỘT GÌ HÔÔN</b>
                </div>
                <form method="post" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <input asp-for="Username" type="tel" class="form-control" id="name" placeholder="Số điện thoại">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Mật khẩu">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between">
                        <div>
                            <input type="checkbox" class="form-check-input" id="showPassword">
                            <label class="form-check-label user-select-none" for="exampleCheck1">Hiện mật khẩu</label>
                        </div>
                        <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label user-select-none" for="exampleCheck2">Ghi nhớ đăng nhập</label>
                        </div>
                    </div>
                    <button type="submit" class="mb-3 btn btn-primary w-100">Đăng nhập</button>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Register" class="text-decoration-none">Tạo tài khoản</a>
                        <a class="text-decoration-none">Quên mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#showPassword").on('click', () => {
            var pass = $("#password")
            var show = $("#showPassword").is(":checked")
            show ? pass.attr("type","text") : pass.attr("type", "password")
        })
    </script>
}