@model TradeBot.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="d-flex justify-content-center min-vh-100 align-items-center">
    <div class="col-5">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-block text-primary text-uppercase text-center mb-3 py-3">
                    <b>CHỢ BỘT - AAI MUA BỘT, THUÊ BỘT GÌ HÔÔN</b>
                </div>
                <form method="post" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
                    <div class="mb-3">
                        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Họ và tên">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="PhoneNumber" type="tel" class="form-control" id="tel" placeholder="Số điện thoại">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control password" id="password" placeholder="Mật khẩu">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control password" id="confirmPassword" placeholder="Xác nhận mật khẩu">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="showPassword">
                        <label class="form-check-label user-select-none" for="exampleCheck1">Hiện mật khẩu</label>
                    </div>
                    <button type="submit" class="mb-3 btn btn-primary w-100">Đăng ký</button>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Login" class="text-decoration-none">Đăng nhập</a>
                        <a class="text-decoration-none">Quên mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $("#showPassword").on('click', () => {
            var pass = $(".password")
            var show = $("#showPassword").is(":checked")
            show ? pass.attr("type", "text") : pass.attr("type", "password")
        })
    </script>
}
